<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGG | {{ ruta }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    <header>
        <a href="/"><img src="{{ asset('images/ggg.png') }}" alt="Logo"></a>
        <div class="">
            <h1>Guillermo Granados Gómez</h1>
            <h2>Profesor y desarrollador web Fullstack</h2>
        </div>
    </header>
    <nav>
        <i id="close" class="fas fa-times"></i>
        {# Anotar este modo de cargar bloques! #}
        {{ block("nav", "nav.html.twig") }}
    </nav>
    <div class="menu">
        <i class="fas fa-bars"></i>
    </div>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div class="row">
            <div class="col">
                <h3>GGG</h3>
                {{ block("nav", "nav.html.twig") }}
            </div>
            <div class="col">
                <h3>Redes</h3>
            </div>
            <div class="col">
                <h3>Novedades</h3>
            </div>
        </div>
        <small class="licencia">MIT 2021 - Guillermo Granados Gómez | Vector de Fondo creado por freepik - www.freepik.es</small> 
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>
